{% extends 'base.html.twig' %}

{% block content %}
	<div id="grid_block">
		<h4>{{ path|raw }}</h4>
		<span class="tohome">Добавьте товары из <a href="/">каталога</a></span>
		<!--<button onclick="clear_bucket()"> Очистить корзину </button>-->
    </div>
{% endblock %}

{% block scripts %}
	{% javascripts '@AppBundle/Resources/public/js/jqgrid_bucket_create.js'%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}