{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.ui-state-highlight{
			padding: 10px;
		}
	</style>
{% endblock %}

{% block content %}
	<div>
		<span class="cur_page">{{ curPage }}</span><p>
		<div class="ui-state-highlight">
			<span>Добавьте товары из <a href="/">каталога</a></span>
		</div>
		<!--<button onclick="clear_bucket()"> Очистить корзину </button>-->
    </div>
{% endblock %}

{% block scripts %}
	{% javascripts '@AppBundle/Resources/public/js/jqgrid_bucket_create.js'%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}