<!DOCTYPE html>
<html>
<head>
	<title>Интернет - магазин | Войти в личный кабинет</title>
	{% stylesheets 
		'bundles/app/css/main_styles.css'
		filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
</head>
<body>
	<form action="/" method="post">
		<label>Введите логин или e-mail</label><br>
		<input type="text" name="login"><br>
		<label>Введите пароль</label><br>
		<input type="password" name=""><p>
		<input type="submit" class="green_button">
	</form>
</body>
</html>