{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.cur_page{
			font-size: 20px;
			color: #2c4359;
		}
		#main_content{
			margin: 20px;
			display: inline-block;
		}
	</style>
{% endblock %}

{% block content %}
	<div id="menu_block">
		{{ knp_menu_render('AppBundle:Builder:personalMenu') }}
	</div>
	<div id="main_content">
	{% block maincontent %}{% endblock %}
	</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	{% javascripts '@AppBundle/Resources/public/js/generate_menu.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}