{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 'bundles/app/css/personal.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    	<style type="text/css">
    		.cur_page{
    			font-size: 20px;
    			color: #2c4359;
    		}
    	</style>
{% endblock %}

{% block content %}
	<div id="menu_block">
		{{ knp_menu_render('AppBundle:Builder:personalMenu') }}
	</div>
	<div id="main_content">
	{% block maincontent %}{% endblock %}
	</div>
{% endblock %}

{% block scripts %}
	{% javascripts '@AppBundle/Resources/public/js/generate_menu.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}