{% extends 'base.html.twig' %}
{% block content %}
	<div id="menu_block">
		{{ knp_menu_render('AppBundle:Builder:personalMenu') }}
	</div>
	<div>
		<h3 id="h_user_name">{{ app.user.username }} </h3>
		<label>	e-mail: </label>{{ app.user.email }}
	</div>
{% endblock %}

{% block scripts %}
	{% javascripts '@AppBundle/Resources/public/js/generate_menu.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

