{% extends 'personal/menu.html.twig' %}

{% block maincontent %}
	<div class="person_content">
		<span class="cur_page">Личный кабинет </span><p>
		<label>	Пользователь: </label>{{ app.user.username }}<p>
		<label>	e-mail: </label>{{ app.user.email }}
	</div>
{% endblock %}

