html, 
body{
	margin: 0;
	padding: 0;
	font-size: 12px;
	background: white; 
	font-family: Arial;
	background: #ccc;
	font-size: 14px;
}

.simple_text{
	color: #333;
}

#left_side,
#right_side{
	display: table-cell;
	width: 100px;
	background: #ccc;
}

#content{
	padding-left: 0px;
	background: #fff;
	display: table;
	width: 100%;
	min-width: 1270px;
	min-height: 400px;
}

/* buttons */

.pozitive_button{
	background-color: #007fff;
	border: 1px solid #003eff;
	color: #fff;
	padding: 10px 20px;
}

.pozitive_button:hover{
	background-color: #3399ff;
	color: #fff;
}

.neutral_button{
	color: #262673;
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

.neutral_button:hover{
	font-weight: bold;
}

.square_button{
	font-size: 20px;
	width: 26px;
	display: block;
	text-align: center;
}

/* base header */

#header_background{
	display: block;
	background: #262673;
	height: 250px;
	width: 100%;
	min-width: 1270px; 
}

/* base high head */

#high_head{
	display: inline-block;
	height: 30px;
	background: #00001a;
	position: fixed;
	z-index: 2;
	width: 100%;
}

#high_menu{
	display: block;
	overflow: hidden;
	margin: 0;
	list-style-type: none;
	box-sizing: border-box;
}

#high_menu li{
	height: 30px;
}

#high_menu > li{
	float: left;
}

#high_menu a{
	height: 100%;
}

#high_menu > li > a{
	color: #eee;
	text-decoration: none;
	
	font-size: 14px;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;

	box-sizing: border-box;
	height: 30px;
	display: block;
}

#high_menu > li > a:hover{
	background: #007fff;
}

#high_menu > li{
	padding: 0;
	height: 30px;
}

#highmenu_icon{
	height: 20px;
	width: 20px;
	float: left;
	margin-right: 8px;
	-webkit-filter: invert(80%);
	filter: invert(80%);
}

.hide_info{
	display: none;
	background: #00001a;
	position: absolute;
	border-top: 2px solid #33cc33;
	width: 200px;
	/*padding-left: 0px;*/
	padding: 0px;
	list-style-type: none;
	box-sizing: border-box;
}

.highmenu_item:hover .hide_info{
	display: block;
}

.hide_info > li{
	display: block;
}

#bucket_info.hide_info > li {
	display: inline-block;
}

.hide_info > li > a{
	text-decoration: none;
	font-size: 14px;
	color: #eee;
	display: block;
	padding-top: 5px;
	padding-left: 10px;
	box-sizing: border-box;
}

.hide_info > li > a:hover{
	background: #007fff;
}

.bucket_labels,
.bucket_values{
	font-size: 14px;
}

.bucket_labels{
	float: left;
	display: inline-block;
	width: 100px;
}

.bucket_values{
	width: 100px;
	display: inline-block;
	text-align: right;
}

.bucket_labels > a,
.bucket_values > a{
	display: block;
	width: 100%;
}

.bucket_labels > a{
	padding-left: 10px;
}

.bucket_values > a{
	padding-right: 10px;
}

#bucket_info:hover a[href="/bucket"]{
	background: #007fff;
}

/* base link */

.path_link, .cur_page{
	font-size: 14px;
	color: #333;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: normal;
}

.cur_page{
	color: #33cc33;
}

.path_link:hover{
	color: #666;
	border-bottom: 1px dotted #007fff;
}

/* base positions*/

.center_self{
	display: block;
	margin: 0 auto;
}