.form_label, .required{
	font-size: 14px;
	color: #2c4359;
}

#form{
	background-color: white;
	width: 300px;
	text-align: center;
}

.label_block{
	margin-top: 4px;
	float: left;
}

.input_and_label_block{
	margin-top: 24px;
	text-align: left;
}

.entrance{
	padding-top: 20px;
	border-top: #999 1px solid;
}

.error_msg{
	color: red;
}

input {
	width: 100%;
}

.cur_page{
	font-size: 20px;
	color: #2c4359;
}

.content_block{
	padding: 24px;
}