label{
	font-size: 14px;
	color: #2c4359;
}

#form{
	background-color: white;
	width: 300px;
	margin-bottom: 24px;
	border-bottom: #999 1px solid;
}

.error_msg{
	color: red;
}

.cur_page{
	font-size: 20px;
	color: #2c4359;
}

.content_block{
	padding: 24px;
}

input{
	width: 100%;
	margin-bottom: 14px;
}

#remember_me{
	width: auto;
}