#menu_block{
	float: left;
	display: inline-block;
	z-index: 1;
	position: relative;
}

#menu > li > ul a{
	color: #2b2b2b;
}

#menu a{
	padding: 8px;
	display: block;
	text-decoration: none;
}

#menu li{
	padding: 0px;
} 

.ui-menu { width: 200px; }