{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<span class="cur_page">Авторизация</span><p>

{% if error %}
    <div class="error_msg">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form id="form" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">Логин</label><br>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">Пароль</label><br>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">Запомнить меня</label><p>

    <input class="pozitive_button center_self" type="submit" id="_submit" name="_submit" value="Войти" />
</form>
<div><a href="/register">Регистрация</a></div>
{% endblock fos_user_content %}
