html, body{
	background-color: #CCC; //#93c3cd;
	width: 100%;
	height: 100%;
	
}

.form_label, .required{
	font-size: 14px;
	color: #2c4359;
}

#form{
	position: absolute;
	top:20%;
	left:37%;
	background-color: white;
	border: 1px solid black;
	width: 300px;
	text-align: center;
	padding: 24px;
}

.label_block{
	margin-top: 4px;
	float: left;
}

.input_and_label_block{
	margin-top: 24px;
	text-align: left;
}

.entrance{
	border-top: #333 1px solid;
}

.error_msg{
	color: red;
}

input {
	width: 100%;
}

.green_button{
	display: block;
	margin: 0 auto;
}