html, body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	background: white; 
	font-family: Arial;
}

#header {
	width: 100%;
	height: 50px;
	background-image: -webkit-linear-gradient(bottom, #ddd,  #fff);
	border: 1px solid #ccc;
}

#header div{
	position: absolute;
}

#header img {
	height: 50px;
	float: left;
}

#site_name_block{
	display: block;
	width: 250px;
	height: 50px;
	left: 0px;
	text-align: center;
}

.site_name {
	font-size: 20px;
	font-weight: bold;
	color: #2c4359;
	text-decoration: none;
}

.site_phrase {
	font-size: 14px;
	font-weight: normal;
	color: #cc0000;
	text-decoration: none;
}

#content {
	float: none;
	padding-left: 20px;
}

#menu a {
	color: #2b2b2b;
	/*border: 1px solid #999;*/
	padding: 8px;
	display: block;
	font-weight: normal;
	text-decoration: none;
}

#menu li{
	padding: 0px;
} 

.ui-jqgrid tr.jqgrow td {
	padding: 20px;
	white-space: normal !important; 
}

.ui-menu { width: 200px; }

.ui-jqgrid tr.ui-row-ltr td {
    border-right-style: none;
    border-left-style: none;
}

.price_class{
	font-size: 20px;
}

.product_name_class{
	font-size: 14px;
	font-weight: bold;
}

#grid_block{
	float: left;
	display: inline-block;
	position: relative;
	z-index: 0;
	margin-top: 10px;
}

#menu_block{
	float: left;
	display: inline-block;
	margin-right: 20px;
	z-index: 1;
	position: relative;
}

.path_link, .cur_subcategory{
	font-size: 14px;
	color: #2c4359;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: normal;
}

.cur_subcategory{
	color: #cc0000;
}

.path_link:hover{
	border-bottom: 1px dotted #cc0000;
}

.entrance{
	text-align: right;
	margin-right: 20px;
}

.entrance li{
	display: inline;
}

.tohome{
	font-size: 14px;
	color: #999;
}

.entrance li > a, .tohome a {
	font-size: 14px;
	color: #2c4359;
	padding-right: 10px;
	padding-right: 10px;
	text-decoration: none;
}

.entrance li > a:hover, .tohome > a:hover{
	text-decoration: underline;
}

#search_line{
	width: 100%;
	height: 50px;
	display: block;
	left: 250px;
	right: 250px;
	/*border: 1px solid black;*/
}

/* Bucket CSS */
#bucket{
	border-left: 1px solid #ccc;
	height: 50px;	
	width: 250px;
	right: 0px;
	display: block;
	cursor: pointer;
}

#bucket_table {
	height: 50px;
	vertical-align: middle;
}

.bucket_values{
	text-align: right;
	color: #cc0000;
}

.bucket_labels{
	text-align: left;
	float: left;
	color: #2c4359;
}

.bucket_icon{
	float: left;
	margin-right: 10px;
	margin-right: 10px;
}

.red_button{
	background-color: #cc0000;
	border: 0px;
	color:white;
	padding: 10px 30px;
	font-weight: bold;
}

.green_button, .green_button a{
	background-color: #33CC66;
	border: 0px;
	border-top: 1px solid #33CC66;
	color:white;
	min-width: 20px;
	padding: 10px 30px;
	font-weight: bold;
	text-decoration: none;
}

.red_button2{
	background-color: #cc0000;
	border: 0px;
	color:white;
	font-weight: bold;
	width: 30px;
	height: 30px;
	border-radius: 5px;
}

.count_of_product_class{
	font-size: 12px;
}

input.count_of_product_class{
	font-size: 12px;
	height: 20px;
	width: 60px;
	padding-left:10px;
	width: 60px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
	-webkit-appearance: none;
}

input[type=number]:hover::-webkit-inner-spin-button { 
    background: #FFF url('../images/arrows.png') no-repeat;
    background-size: contain;
    width: 10px;
    height: 8px;
    padding: 10px 4px;
    position: relative;
}

.total_block{
	display: block;
	margin-left: 600px;
	
}

.total{
	font-size: 16px;
	color: #2c4359;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
}

#total_sum{
	font-size: 20px;
	color: #2c4359;
	display: inline-block;
	margin-left: 10px;
	padding: 20px;
	width: 150px;
	float: left;
	text-align: center;
}